*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #FFF9EB;
}

section{
  padding: 50px 8%;
}

.btn_default{
  color: #8C5522;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #8C5522 solid 2px;
  border-radius: 20px;
  background-color: transparent;
  padding: 10px 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn_default:hover{
  background-color: #492b0f;
  color: #FFF9EB;
}
